<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LearnChineseDbContext" connectionString="data source=nserver;initial catalog=LearnChinese;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PollInterval" value="0.00:00:05" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="TelegramBotKey" value="359459024:AAF8ZQRiusB4by_7ECboK6fBHhAxDZpdAiU" />
  </appSettings>


  <log4net>
    <root>
      <!--Уровень ошибок: All - в лог вносятся все сообщения, Warn - только предупреждения и Error - только ошибки-->
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--По умолчанию актуальные данные пишутся в конец этого файла-->
      <param name="File" value="logs\today.log" />
      <param name="AppendToFile" value="true" />
      <!--При достижении новых суток файл лога переименовывается в соответствии с шаболоном-->
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd'.log'" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <!--Здесь можно определить, какая информация должна отображаться в логе. Подробности - http://logging.apache.org/log4net/-->&gt;
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level Message: %message; %newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level Message: %message; %newline" />
      </layout>
    </appender>
  </log4net>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="lo4netListener" type="YellowDuck.Common.Logging.Log4NetTraceListener,YellowDuck.Common" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>